.home {
  width: 100%;
  position: relative;
  padding-bottom: 150px;
  .innInfo {
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    padding: 40px 30px;
    font-family: 'PingFang SC';
    .welcome {
      font-size: 38px;
      color: #909090;
      font-weight: 500;
    }
    .innName {
      font-size: 38px;
      color: black;
      font-weight: 500;
    }
  }
  // .textPart {
  //   margin-left: 53px;
  //   padding-top: 0px;
  //   position: relative;
  //   .text {
  //     height: 70px;
  //     line-height: 70px;
  //     font-family: 'PingFang SC';
  //     font-style: normal;
  //     font-weight: 400;
  //     font-size: 60px;
  //   }
    .home0Img {
      position: absolute;
      right: 60px;
      width: 360px;
      top: 40px;
    }
  // }
  .homeHeadImg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .innLogo {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 80px;
    left: 315px;
    z-index: 2;
  }
  .innInfo1 {
    padding-top: 200px;
    width: 100%;
    z-index: 2;
    .innName {
      width: 100%;
      text-align: center;
      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 400;
      font-size: 38px;
      line-height: 154.4%;
    }
    .tongji {
      margin-top: 32px;
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      .tongjiItem {
        flex: 1;
        text-align: center;
        .itemNum {
          color: #F24822;
        }
      }
      .rightLine {
        border-right: 1px solid #F0F0F0;
      }
    }
  }
  .handlePart {
    width: 690px;
    margin: 0 auto;
    margin-bottom: 23px;
    height: 361.07px;
    border-radius: 40px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    .left {
      width: 320px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 93px;
      margin-left: 70px;
      .title {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 82px;
        color: #363636;
      }
      .subTitle {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        color: #363636;
      }
      .desc {
        margin-top: 30px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 35px;
        color: #363636;
      }
    }
    .rightImg {
      // margin-top: 93px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      flex-basis: 280px;
      height: 361.07px;
    }
  }
  .helpPart {
    margin-top: 71px;
    background-color: #FFF1BE;
  }
  .orderPart {
    background: #DBBEFF;
  }
  .reportPart {
    background-color: #D5E6FF;
  }
  .morePart {
    height: 225.14px;
    background-color: #F0F0F0;
    .title1 {
      width: 235px;
      margin-top: -36px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 60px;
      color: #B8B8B8;
    }
    .rightImg {
      justify-content: flex-start;
      margin-top: -30px;
    }
  }
}